@import "tailwindcss";

@font-face{
  font-family: 'Lausanne300';
  src: url('/fonts/Lausanne-300.woff2') format('woff2');
  font-weight: 300;
}

@font-face{
  font-family: 'Lausanne500';
  src: url('../public/fonts/Lausanne-500.woff2') format('woff2');
  font-weight: 500;
}

.headvideo{
  height: 8vw;
  width: 17vw;
  border-radius: 40%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo{
  font-family:Arial, Helvetica, sans-serif;
}

